.head-container {
  padding: 0;
}

.head-text {
  font-size: 4vw;
  font-weight: 600;
  font-family: "Patua One", cursive;
}

.user-head-container {
  height: 40vh;
  background: rgba(138, 130, 130, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.userheader-name {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Capriola", sans-serif;
}

.userheader-email {
  font-size: 1rem;
  text-transform: lowercase;
  font-family: "Capriola", sans-serif;
}

.components-container {
  padding: 3rem 5rem;
  margin-top: 5rem;
}

.login-button {
  width: 100%;
  height: 3rem;
  background-color: aqua;
  border-color: aqua;
  color: blue;
  font-size: large;
  font-weight: 600;
}

.register-button {
  width: 100%;
  height: 3rem;
  background-color: beige;
  border-color: beige;
  color: black;
  font-size: large;
  font-weight: 600;
}

.add-expense-container {
  background: #e0e0e0;
  box-shadow: -20px 20px 32px #9d9d9d, 20px -20px 32px #ffffff;
}

.view-expense-heading {
  font-family: "Raleway", sans-serif;
}

.add-expense {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.expenses-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.view-expense-div {
  border-radius: 36px;
  background: #e0e0e0;
  box-shadow: -12px 12px 32px #848484, 12px -12px 32px #ffffff;
}

.expense-title {
  word-wrap: break-word;
  text-align: center;
  padding-top: 1rem;
  color: blue;
  text-transform: capitalize;
}

.expense-description {
  word-wrap: break-word;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  padding: 1rem;
}

.expense-date {
  word-wrap: break-word;
  font-weight: 600;

  text-align: center;
}

.expense-amount {
  word-wrap: break-word;
  text-align: center;
  color: red;
  padding-bottom: 1rem;
}

.length-of-note {
  /* height: 0.5rem; */
  margin: 0;
  padding: 0;
  text-align: end;
  color: red;
}
